.container {
  .cats {
    .row {
      margin: 15px 0;

      .cat-col {
        margin-bottom: 15px;

        .cat-list {
          .card-img-top {
            height: 180px;
            width: 180px;
            object-fit: cover;
            margin: 0 auto;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .cat {
    .cat-item {
      margin: 15px 0;
    }
  }
}

.regular-bold {
  font-weight: 700;
}

.card-body {
  text-align: center;
}
